@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-gray-800 bg-white
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /*noinspection CssOverwrittenProperties*/
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /*noinspection CssOverwrittenProperties*/
        -webkit-tap-highlight-color: transparent;
    }

    body {
        font-family: Roboto, sans-serif;
        min-height: 100vh;
        min-width: 100vw;
    }

    .base__color {
        @apply text-black dark:text-gray-200
    }

    .base__color_hover {
        @apply md:hover:text-blue-700 md:hover:dark:text-white
    }

    .base__bg_hover {
        @apply md:hover:backdrop-brightness-95 md:dark:hover:backdrop-brightness-110
    }


}

