:root {
    --spinner-size: 16;
    --offset-start: 18;
    --offset-end: 50

}

.svg {

}

.circle {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: calc(3.14 * var(--spinner-size));
    transform-origin: calc(0.5px * var(--spinner-size)) calc(0.5px * var(--spinner-size)) 0;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        stroke-dashoffset: var(--offset-start);
        transform: rotate(0deg);

    }
    50% {
        stroke-dashoffset: var(--offset-end);
        transform: rotate(720deg);

    }
    100% {
        stroke-dashoffset: var(--offset-start);
        transform: rotate(1080deg);

    }
}

